* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    color: #585858;
    outline: none;
}

.wrapper {
    width: 650px;
    height: 310px;
    background: #fffbdc;
    margin: 0 auto;
}

.form {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30% 70%;
    grid-gap: 5px;
}

h1 {
    width: 100%;
}

.labels {
    height: 200px;
    display: grid;
    grid-template-rows: 16% 19% 19% 23% 1fr;
    margin-top: 6px;
    label {
        justify-self: end;
    }
}

.widgets {
    input,
    select,
    label {
        margin: 5px 0;
    }
}